<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjmh.dao.sms.SMSCommentsLogDao" >
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.mjmh.entity.sms.SMSCommentsLog" >
	<result column="ID" property="id"/>
	<result column="Msg" property="msg"/>
	<result column="Phone" property="phone"/>
	<result column="SmsTime" property="smsTime"/>
	<result column="CreateTime" property="createTime"/>
</resultMap>
<sql id="Base_Column_List" >
	 ID,Msg,Phone,SmsTime,CreateTime
</sql>
<!-- 查询列表 -->
<select id="querylistPage" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from bui_smscommentslog where 1=1 
	<if test="pd.phone != null and pd.phone != ''" >
	    and Phone =  #{pd.phone}
	</if>
	order by CreateTime desc
</select>
<!-- 新增记录 -->
<insert id="add" parameterType="Object" >
  insert into bui_smscommentslog(ID,Msg,Phone,SmsTime,CreateTime)
 values(#{id},#{msg},#{phone},now(),now())
</insert>
<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from bui_smscommentslog where ID = #{id}
</delete>
</mapper>   
